# lgsecclkserver
type lgsecclk, domain;
type lgsecclk_exec, exec_type, file_type;
init_daemon_domain(lgsecclk)
allow lgsecclk system_server_service:service_manager add;
allow lgsecclk self:process execmem;
allow lgsecclk calibration_data_file:dir read;
allow lgsecclk unlabeled:file { read write getattr open };
allow servicemanager lgsecclk:dir search;
allow servicemanager lgsecclk:file { read write open };
allow servicemanager lgsecclk:process getattr; 

# lgdrm
type lgdrmserver, domain;
type lgdrmserver_exec, exec_type, file_type;
init_daemon_domain(lgdrmserver)
allow lgdrmserver self:process execmem;

# nvcpud
type nvcpud, domain;
type nvcpud_exec, exec_type, file_type;
init_daemon_domain(nvcpud)
allow nvcpud self:process execmem;
